@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    --c1: rgb(246,194,217);
	--c2: rgb(255,246,155);
	--c3: rgb(188,223,201);
	--c4: rgb(161,200,233);
	--c5: rgb(228,218,226);

    --n1: #84a4c265;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    background: 
    repeating-linear-gradient(
        white,
        white 20px,
        var(--n1) 20px,
        var(--n1) 22px
    );
}

h1 {
    padding-left: 2vw;
    font-family: 'Yellowtail', cursive;
    font-size: 5rem;
    text-decoration: underline;
    text-decoration-style: double;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
}

img {
    max-width: 25vw;
}

.area {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 2vw 2vh;
}

.math {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 1vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.math:hover {
    animation: wiggle 1s linear;
}

@keyframes wiggle {
    0%, 50%, 100% {rotate: 0deg;}
    10% {rotate: -1deg;}
    20% {rotate: -2deg;}
    30% {rotate: -2deg;}
    40% {rotate: -1deg;}
    60% {rotate: 1deg;}
    70% {rotate: 2deg;}
    80% {rotate: 2deg;}
    90% {rotate: 1deg;}
}

.math[data-postit="definition"] {
    background-color: var(--c4);
}

.math[data-postit="proof"] {
    background-color: var(--c1);
}

.math[data-postit="application"] {
    background-color: var(--c2);
}

.attention {
    width: fit-content;
    border-color: rgba(0, 0, 0, 0.01);
    border-top: 1px double;
}

.MJX-TEX {
    font-size: 2vmin;
}

.notepage {
    border-left: 2px red solid;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

